<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xlms="http://www.w3.org/1999/xhtml">

<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AnotaAi</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_home.css' %}" />
    <script src="https://cdn.tiny.cloud/1/o7kwk6ums373vprg3pgeent6u8hzl8r66efsogx81m29tx3e/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
<div id="page-container">
    <!-- Popup form for creating a new trail -->
    <div id="trail-popup" class="popup">
        <div id="popup" class="popup-content">
            {% csrf_token %}
            <h2>Criar uma trilha</h2>
            <label for="trail-name">Nome da trilha:</label>
            <input type="text" id="trail-name" maxlength="25" /><br />

            <label for="trail-date">Data final:</label>
            <input type="date" id="trail-date" /><br />

            <label>
                <input type="checkbox" id="trail-reminder" />
                Ativar lembrete
            </label><br />

            <button id="save-trail" onclick="saveTrail()">Salvar trilha</button>
            <button id="cancel-trail">Cancelar</button>
        </div>
    </div>
    
    <div id="horizontal">
        <div id="profilepic">
            <!-- <button id="activity-button" style="position: absolute; top: 10px; right: -50px;">Atividade</button> -->
            <img src="{% static 'images/logo.png' %}" alt="Imagem do Usuário" class="profile-image" onclick="toggleDropdown()">
            <div id="dropdown-menu" class="dropdown-content">
                <a href="#profile" id="profile-link"><i class="fas fa-user"></i> Ver Perfil</a>

                <!-- Popup do Perfil -->
                <div id="profile-popup" class="popup">
                    <div class="popup-content">
                        <span class="close-btn" id="close-popup">&times;</span>
                        
                        <h2>Editar Perfil</h2>
                        
                        <form id="profile-form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            <!-- Campo para mudar o e-mail -->
                            <label for="email">E-mail</label>
                            <input type="email" id="email" name="email" placeholder="Digite seu novo e-mail">
                            
                            <!-- Campo para mudar a senha -->
                            <label for="password">Senha</label>
                            <input type="password" id="password" name="password" placeholder="Digite sua nova senha">
                            
                            <button type="submit">Salvar Alterações</button>
                        </form>
                    </div>
                </div>

                <a href="{% url 'logout' %}" ><i class="fas fa-sign-out-alt"></i> Sair</a>
                <a href="#help" id="infoLink"><i class="fas fa-question-circle"></i> Ajuda</a>

                <!-- Popup de Ajuda -->
                <div id="infoPopup" class="popup" style="display:none;">
                    <div class="popup-content">
                        <span class="close-btn" id="closeInfoPopup">&times;</span>
                        <h2>Informações Importantes</h2>
                        <p id="textoAjuda">Aqui você pode adicionar um texto explicativo para ajudar os usuários a entenderem como usar sua aplicação, resolver problemas comuns ou fornecer dicas sobre funcionalidades.</p>
                        <p id="textoAjuda">Exemplo: Para fazer login, insira seu nome de usuário e senha e clique em "Entrar". Se você esquecer sua senha, clique em "Esqueci minha senha" para recuperá-la.</p>
                    </div>
                </div>

                <a href="#feedback" id="feedbackLink"><i class="fas fa-comment-dots"></i> Feedback</a>

                   <!-- O Popup de Feedback -->
                    <div id="helpPopup" class="popup" style="display:none;">
                        <div class="popup-content">
                            <span class="close-btn" id="closePopup">&times;</span>
                            <form id="helpForm" method="POST" action="{% url 'send_feedback_email' %}">
                                <h2>Envie-nos uma mensagem</h2>
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="subject">Assunto</label>
                                    <input type="text" id="subject" name="subject" required class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label for="message">Mensagem</label>
                                    <textarea id="message" name="message" class="message-area" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
        <div id="horizontal-navbar">
            <ul id="nav_hor">
                <li>Pontuação</li> 
                <li>N° de atividades</li> 
                <div class="gamification">
                    <p>Pontos: {{ request.user.points }}</p>
                    <p>Sequência: 
                        {{ request.user.streak }} 
                        <img src="https://img.icons8.com/emoji/48/fire.png" alt="Fogo" style="width: 20px; vertical-align: middle;">
                    </p>
                </div>
            </ul>
        </div>
        <div style="position: fixed; top: 10px; right: 10px; z-index: 999;">
            <select id="theme-selector">
                <option value="default">Padrão</option>
                <option value="dark">Noturno</option>
                <option value="cherry">Cerejeira</option>
            </select>
          </div>
    </div>
    
    <div id="center">
        <div id="vertical">
            <div id="create-trail">
                <button class="open-trail-popup">Criar trilha</button>
            </div>
            <div id="vertical-navbar">
                <!-- trilhas criadas vão aqui -->
            </div>
        </div>
        <div id="main">
            <h1>Olá! Seja bem vindo ao nosso site! Para começar sua jornada, <a href="#" onclick="openTrailPopup()">crie uma trilha!</a></h1>
            <div class="right-side-task details" id="task-details"></div>
        </div>
    </div>
</div>

<div id="activity-popup" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: white; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
    <h3>Tempo Ativo</h3>
    <canvas id="activity-chart" width="400" height="200"></canvas>
    <button id="close-activity-popup">Fechar</button>
</div>

<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
<script src="{% static 'js/script_home.js' %}"></script>

<!-- Popup para criar uma nova task -->
<div id="create-task-popup" class="popup" style="display: none;">
    <div class="popup-content">
        <span class="close-btn" id="close-create-task-popup">&times;</span>
        <h2>Criar Nova Tarefa</h2>
        <form id="create-task-form">
            <label for="task-name">Nome da tarefa:</label>
            <input type="text" id="task-name" name="task-name" placeholder="Digite o nome da tarefa" required>
            <button type="submit" class="btn btn-primary">Criar tarefa</button>
        </form>
    </div>
</div>

<!-- Popup de Feedback -->
<div id="feedback-popup" class="popup" style="display: none;">
    <div class="popup-content">
        <span class="close-btn" onclick="closePopup_feeback()">&times;</span>
        <p id="feedback-message"></p>
    </div>
</div>

<div id="success-popup" class="popup-notification">
    <p id="success-message">Tarefa atualizada com sucesso ✓</p>
</div>
<div id="failed-popup" class="popup-notification">
    <p id="fail-message">Falha ao atualizar tarefa, tente novamente ❌</p>
</div>

</body>
</html>