<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xlms="http://www.w3.org/1999/xhtml">

<head>
{% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TCC - Login</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
</head>

<body>

    <form id="loginForm" action="{% url 'login' %}" method="post">
        {% csrf_token %}  <!-- Token de segurança contra CSRF -->
        <div id="login-container">

            <div id="logo-container">
                <img src="{% static 'images/logo.png' %}" alt="Logo" id="logo" style="width: 200px; height: 200px;">
            </div>

            <label for="umail" class="form-label"><b></b></label>
            <input id="umail" type="email" placeholder="Email" name="umail" required>
    
            <label for="pword" class="form-label"><b></b></label>
            <input id="pword" type="password" placeholder="Senha" name="pword" required>
            
            {% if messages %}
            {% for message in messages %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}

            <button type="submit">Login</button>

            <a href="{% url 'cadastro' %}" id="criar-conta-link">Criar uma conta</a>
        </div>
    </form>

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>