<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xlms="http://www.w3.org/1999/xhtml">

<head>
{% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TCC - Login</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>

<body>

    <form id="loginForm" action="{% url 'login' %}" method="post">
        {% csrf_token %}  <!-- Token de segurança contra CSRF -->
        <div id="login-container">

            <div id="logo-container">
                <svg xmlns="http://www.w3.org/2000/svg" height="35px" viewBox="0 -960 960 960" width="35px" fill="#1f1f1f"><path d="M168-121q-21 5-36.5-10.5T121-168l35-170 182 182-170 35Zm235-84L205-403l413-413q23-23 57-23t57 23l84 84q23 23 23 57t-23 57L403-205Z"/></svg>
                <h1 id="site-name">TCC</h1>
            </div>

            <label for="umail" class="form-label"><b></b></label>
            <input id="umail" type="email" placeholder="Email" name="umail" required>
    
            <label for="pword" class="form-label"><b></b></label>
            <input id="pword" type="password" placeholder="Senha" name="pword" required>
            
            {% if messages %}
            {% for message in messages %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}

            <button type="submit">Login</button>

            <a href="{% url 'cadastro' %}" id="criar-conta-link">Criar uma conta</a>
        </div>
    </form>

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>